# make a copy of this file as .env

# for unittests library if we use
MANAGE_PY_PATH=manage.py

# for pytest_django
DJANGO_SETTINGS_MODULE=LittleLemon.settings

# for dev vs prod build setup. true == debug & non-prod:
DEBUG=True

# your additional env vars here.
