[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-xml = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
bleach = "*"
drf-spectacular = "*"
django-cors-headers = "*"
python-dotenv = "*"
pre-commit = "*"
graphene-django = "*"

[dev-packages]
flake8 = "*"
pylint-django = "*"
black = "*"
ruff = "*"
pytest = "*"
pytest-django = "*"
mypy = "*"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
