[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-xml = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
bleach = "*"

[dev-packages]
flake8 = "*"
pylint-django = "*"
black = "*"
ruff = "*"

[requires]
python_version = "3.11"
